.productWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin: 3% 0;
}

.productWrapper img,
.productWrapper h3,
.productWrapper p {
  margin: 0 auto;
  padding: 1%;
}

.productWrapper h3,
.productWrapper p {
  align-content: flex-start;
}

.productWrapper img {
  height: 400px;
  width: 430px;
}

.productWrapper p {
  font-size: 18px;
  letter-spacing: 2px;
}

.productWrapper .sale {
  color: #ef6530;
}

.button {
  margin: 0 auto;
  width: 10%;
  border-radius: 10px;
  background-color: #ef6530;
  color: white;
  box-shadow: none;
  border: none;
  padding: 1% 0;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 437px) {
  .productWrapper img {
    height: 270px;
    width: 300px;
  }
}
