.cardParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0;
}

.card {
  margin: 15px 7px;
}

.card h4 {
  margin: 0;
}

.card p {
  margin: 0;
}

.card img {
  height: 270px;
  width: 300px;
}

.sale {
  color: #ef6530;
}

@media screen and (max-width: 628px) {
  .card {
    margin: 15px 0px;
  }
  .card img {
    height: auto;
    width: 100%;
  }
}
