.footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color: #2f466c;
}

.footer a {
  color: white;
}

.locationInfo {
  font-weight: bold;
  margin: 0 7%;
  padding: 1% 0;
}

.footerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 7%;
}

.footerRight a {
  color: white;
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}
